.small-logo-mobile {
  height: 50px;
}

.aside-bar-nav {
  z-index: 1;
  min-width: 25;
  height: 91vh;
}

.main-section-boolean {
}

/* MEDIA QUERY
___________
___________
___________
___________
___________ */

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .search-bar-top {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
